

.chat_name {
  color: black;
}

.chat_input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid lightgray;
  background-color: #f5f5f5;
}

.chat_input > form {
  flex: 1;
}

.chat_input > form > input {
  width: 98%;
  outline-width: 0;
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 5px;
}

.chat_input > form > button {
  display: none;
}

.chat_message {
  flex: 1;
  overflow: scroll;
}

.chat_message::-webkit-scrollbar {
  display: none;
}

.chat_message {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
