.sidebarChat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.sidebarChat:hover {
  background-color: lightseagreen;
  color: white;
}

.sidebarChat_info {
  margin-left: 10px;
  position: relative;
  width: 100%;
}

.sidebarChat_info > small {
  position: absolute;
  top: 5px;
  right: 0;
}
